body{
  margin:0;
  background:#000;
  color:white;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  font-family:sans-serif;
}

.shell{
  display:grid;
  grid-template-columns:1fr auto 1fr;
  align-items:center;
  gap:20px;
}

/* 画面 */
canvas{
  width:720px;
  height:480px;
  image-rendering:pixelated;
  background:black;
  border-radius:10px;
}

/* 左コントローラー */
.dpad{
  position:relative;
  width:150px;
  height:150px;
}

.dpad button{
  position:absolute;
  width:50px;
  height:50px;
  font-size:18px;
}

.up{top:0;left:50px;}
.down{bottom:0;left:50px;}
.leftb{left:0;top:50px;}
.rightb{right:0;top:50px;}

/* A B ボタン */
.ab{
  position:relative;
  width:150px;
  height:150px;
}

.ab button{
  position:absolute;
  width:60px;
  height:60px;
  border-radius:50%;
  font-size:18px;
}

.a{
  right:0;
  top:20px;
}

.b{
  left:0;
  bottom:20px;
}

/* START SELECT */
.ss{
  display:flex;
  justify-content:center;
  gap:10px;
  margin-top:10px;
}
